html {
  font-size: 62.5%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}
body.is-open {
  position: fixed;
}

img {
  display: block;
}

ul {
  list-style: none;
}

ol {
  padding-left: 20px;
}

a {
  text-decoration: none;
}

li {
  margin: 0;
}

.l-header {
  width: 100%;
}

.p-header {
  height: 217px;
  background-color: #FFF7EF;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1025px) {
  .p-header {
    flex-direction: inherit;
    padding: 0 31px 0 65px;
  }
}

.l-main {
  width: 100%;
  height: 100%;
}

.p-main .p-main__mainvisual {
  background-image: url("../img/FrontPage/mainvisual(sp).jpg");
  height: 300px;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
@media (min-width: 600px) {
  .p-main .p-main__mainvisual {
    background-position: center;
  }
}

.l-sidebar {
  height: 100%;
  width: 80%;
  top: 0;
  left: 100%;
  z-index: 10;
}
.l-sidebar.is-open {
  left: 20%;
  transition: 0.5s;
}
@media (min-width: 600px) {
  .l-sidebar.is-open {
    left: 55%;
    width: 45%;
    transition: all 0.5s;
  }
}
@media (min-width: 1025px) {
  .l-sidebar {
    width: 100%;
    left: auto;
    top: auto;
    overflow: hidden;
  }
}

.p-sidebar {
  background: #F2EDE9;
  position: absolute;
  transition: all 0.3s;
  overflow: scroll;
}

.p-sidebar__inner {
  height: 100%;
  position: relative;
}

.l-footer {
  width: 100%;
}

.p-footer {
  height: 150px;
  background-image: url("../img/FrontPage/footer_visual.png");
  background-size: cover;
}

.p-footer__inner {
  height: 100%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-footer__link {
  font-size: 21px;
  position: relative;
  margin-bottom: 30px;
}
.p-footer__link::after {
  content: "";
  width: 2px;
  height: 25px;
  background: #FFF;
  position: absolute;
  left: 54%;
}

.p-footer__copyright {
  font-size: 14px;
}

.c-button__menu {
  width: 51px;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
  transition: all 0.2s;
}
@media (min-width: 600px) {
  .c-button__menu {
    width: 10%;
    font-size: 34px;
    transition: all 0.2s;
  }
}
@media (min-width: 1025px) {
  .c-button__menu {
    display: none;
  }
}

.c-button__header {
  position: absolute;
  right: 20px;
  top: 20px;
}

.c-button__close {
  height: 32px;
  width: 32px;
  position: relative;
  display: block;
}
.c-button__close::before, .c-button__close::after {
  content: "";
  position: absolute;
  background: #707070;
  width: 42px;
  height: 6px;
  right: 17px;
  top: 30px;
}
@media (min-width: 1025px) {
  .c-button__close::before, .c-button__close::after {
    display: none;
  }
}
.c-button__close::before {
  transform: rotate(45deg);
}
.c-button__close::after {
  transform: rotate(-45deg);
}

@media (min-width: 1025px) {
  .c-grid__layout {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 217px 1fr 150px;
  }

  .c-grid__header {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .c-grid__sidebar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .c-grid__main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .c-grid__footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
@media (min-width: 600px) {
  .c-grid__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 1025px) {
  .c-grid__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.c-grid__table {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(4, 77px);
}

.c-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-inner__button--close {
  display: flex;
  justify-content: right;
}

.c-inner__articles {
  padding: 5%;
}
@media (min-width: 600px) {
  .c-inner__articles {
    padding: 7%;
  }
}
@media (min-width: 1025px) {
  .c-inner__articles {
    padding: 6%;
  }
}

.c-inner__text {
  padding-top: 30px;
}
@media (min-width: 600px) {
  .c-inner__text {
    padding-top: 60px;
  }
}

.c-tittle__site-tittle {
  font-size: 40px;
  margin-bottom: 38px;
  color: #707070;
  transition: all 0.2s;
}
@media (min-width: 1025px) {
  .c-tittle__site-tittle {
    margin-bottom: 0;
    font-size: 64px;
    transition: all 0.2s;
  }
}

.c-tittle__mainvisual {
  font-size: 36px;
  color: #FFF;
}

.c-tittle__contents {
  font-size: 22px;
  font-weight: bold;
}

.c-tittle__item {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}

.c-tittle__articles-h2 {
  font-size: 28px;
  font-weight: bold;
  color: #3C2A10;
}

.c-tittle__articles-h3 {
  font-size: 24px;
  font-weight: bold;
  color: #3C2A10;
}

.c-tittle__articles-h456 {
  font-size: 20px;
  font-weight: bold;
  color: #3C2A10;
}

.c-tittle__text {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.c-container {
  height: 100%;
  transition: all 0.3s;
  position: relative;
}

.c-layer__container.is-open {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 5;
}
@media (min-width: 1025px) {
  .c-layer__container.is-open {
    display: none;
  }
}

/*  .c-layer__sidebar{
    position: absolute;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    z-index: 5;


    &.is-open{
        left: 0;
        transition: all 0.5s;
    }

    @include breakpoint(tablet){
        display: none;
        transition: all 0.3;
    }

}   */
.c-layer__img {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.c-icon {
  width: 17px;
  height: 17px;
  margin: 8px;
}

.c-text__contents {
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.c-text__articles {
  color: #3C2A10;
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.c-text__item {
  color: #FFF;
  font-size: 16px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.c-text__pager {
  font-size: 16px;
  font-weight: 200;
  color: #707070;
}

.p-articles {
  padding: 30px 20px;
}
@media (min-width: 600px) {
  .p-articles {
    padding: 36px 42px;
  }
}

.p-item__list {
  padding: 0 20px 20px;
}
.p-item__list :last-child {
  margin-bottom: 0;
}

.p-item {
  margin-bottom: 20px;
}
.p-item img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .p-item {
    display: flex;
  }
}

.p-item__content {
  background: #3C2B1C;
  padding: 30px 17px 43px;
}

.p-item__box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.p-item__link {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #707070;
  background: #FFF;
  border-radius: 40px;
  line-height: 42px;
  text-align: center;
  width: 163px;
}

.p-map__map {
  background-image: url("../img/FrontPage/map(pc).jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
}
@media (min-width: 1025px) {
  .p-map__map {
    background-position: -300px;
    background-size: cover;
    transition: all 0.3s;
  }
}

.p-map__inner {
  background: rgba(0, 0, 0, 0.4);
  position: relative;
}
.p-map__inner::before {
  content: "";
  height: 50%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.3s;
}
@media (min-width: 600px) {
  .p-map__inner::before {
    height: 100%;
    transition: all 0.3s;
  }
}
@media (min-width: 1025px) {
  .p-map__inner::before {
    height: 100%;
    width: 60%;
    transition: all 0.3s;
  }
}

.p-map__content {
  color: #FFF;
  padding: 45px;
  min-height: 300px;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}
@media (min-width: 1025px) {
  .p-map__content {
    width: 60%;
    padding: 80px 65px 40px 60px;
    transition: all 0.3s;
  }
}

.p-map__tittle {
  font-size: 30px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s;
}
@media (min-width: 1025px) {
  .p-map__tittle {
    margin-bottom: 120px;
    transition: all 0.3s;
  }
}
.p-map__tittle::after {
  content: "";
  height: 2.5px;
  width: 75px;
  background: #FFF;
  position: absolute;
  bottom: -15px;
  left: 0;
  transition: all 0.3s;
}
@media (min-width: 1025px) {
  .p-map__tittle::after {
    bottom: -55px;
    transition: all 0.3s;
  }
}

.p-map__text {
  font-size: 14px;
  line-height: 3.3;
  font-weight: bold;
}

.p-menu {
  margin-top: 212px;
  margin-left: 46px;
  padding-bottom: 200px;
  color: #707070;
}

.p-menu__list {
  font-size: 24px;
  margin-bottom: 40px;
}

.p-menu__tittle {
  margin-bottom: 40px;
}

.p-menu__item {
  font-size: 20px;
  margin-bottom: 22px;
  margin-left: 20px;
}

.p-search__inner {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1025px) {
  .p-search__inner {
    justify-content: end;
  }
}

.p-search__form {
  width: 320px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s;
}
@media (min-width: 600px) {
  .p-search__form {
    width: 65vw;
    transition: all 0.2s;
  }
}
@media (min-width: 1025px) {
  .p-search__form {
    width: 28vw;
    transition: all 0.2s;
  }
}

.p-search__wrapper {
  background: #FFF;
  width: 100%;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
}

.p-search__icon {
  padding: 5px;
}

.p-search__text {
  width: 100%;
  height: 100%;
}

.p-search__button {
  width: 78px;
  height: 35px;
  margin-left: 7px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F2EDE9;
  transition: all 0.2s;
}
@media (min-width: 600px) {
  .p-search__button {
    width: 25%;
    transition: all 0.2s;
  }
}

.p-section__wrapper {
  padding: 20px 20px 30px;
}
@media (min-width: 600px) {
  .p-section__wrapper {
    display: flex;
    padding: 40px;
    justify-content: space-between;
  }
}
@media (min-width: 1025px) {
  .p-section__wrapper {
    padding: 60px 55px 65px;
  }
}

.p-section__inner {
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .p-section__inner {
    width: 48%;
    margin-bottom: 0;
  }
}

.p-section__background1 {
  background-image: url("../img/FrontPage/contents_visual2(sp).jpg");
  background-size: cover;
}

.p-section__background2 {
  background-image: url("../img/FrontPage/contents_visual1(sp).jpg");
  background-size: cover;
}

.p-section__tittle {
  font-size: 41px;
  font-family: "Roboto";
  font-weight: bold;
  position: relative;
  margin-bottom: 60%;
}

.p-section__tittle::after {
  content: "";
  height: 3px;
  width: 37px;
  background-color: #FFF;
  position: absolute;
  top: 60px;
  left: 0;
}

.p-section__list {
  color: #3C2A10;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
  padding: 7px 10px 15px;
  font-family: "M PLUS Rounded 1c";
}

.p-section__color1 {
  color: #EAEAEA;
}

.p-section__color2 {
  color: #FFF;
}

.p-page__inner-archive {
  height: 283px;
  position: relative;
}
.p-page__inner-archive img {
  height: 100%;
  width: 100%;
}

.p-page__inner-single {
  height: 225px;
  position: relative;
}
.p-page__inner-single img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .p-page__inner-single {
    height: 500px;
  }
}

.p-page__content {
  position: absolute;
  top: 45%;
  left: 10%;
  transition: all 0.3s;
}
@media (min-width: 600px) {
  .p-page__content {
    left: 10%;
    transition: all 0.3s;
  }
}
@media (min-width: 1025px) {
  .p-page__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 5%;
    transition: all 0.3s;
  }
}

.p-page__tittle {
  font-family: "Roboto", sans-serif;
}
.p-page__tittle::after {
  content: ":";
}
@media (min-width: 1025px) {
  .p-page__tittle {
    font-size: 60px;
  }
}

.p-page__pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
}
@media (min-width: 600px) {
  .p-page__pager {
    padding: 0 110px;
    justify-content: center;
  }
}

.p-page__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 19px;
}

.p-page__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 17px;
  display: none;
}
.p-page__list :last-child {
  margin-right: 0;
}
@media (min-width: 600px) {
  .p-page__list {
    display: block;
    display: flex;
  }
}

.p-page__item {
  margin-right: 15px;
  display: none;
}
@media (min-width: 600px) {
  .p-page__item {
    display: block;
  }
}

.p-page__number {
  display: none;
  height: 35px;
  width: 35px;
  color: #707070;
  font-weight: bold;
  font-family: "Robot";
  border: 1px solid #707070;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
}
@media (min-width: 600px) {
  .p-page__number {
    display: block;
  }
}

.is-nowpage {
  background: #3C2A10;
  color: #FFF;
}

.p-souse__wrapper {
  padding: 0 20px;
  margin: 30px 0;
}

.p-souse__inner {
  padding: 30px 20px;
  background: #F5F5F5;
}
@media (min-width: 600px) {
  .p-souse__inner {
    padding: 50px;
  }
}

.p-souse__box {
  display: flex;
  margin-top: 30px;
}
@media (min-width: 600px) {
  .p-souse__box {
    margin-top: 60px;
  }
}

.p-souse__subject {
  font-size: 16px;
  color: #3C2A10;
}
.p-souse__subject::after {
  content: ":";
}

.p-souse__name {
  font-size: 16px;
  color: #4A6C9B;
  margin-left: 20px;
}

.p-post__wrapper {
  width: 100%;
  margin-bottom: 12px;
}
@media (min-width: 600px) {
  .p-post__wrapper {
    margin-bottom: 60px;
  }
}

.p-post__img {
  margin-bottom: 30px;
}
.p-post__img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-post__img-2 {
  padding: 0 34px 18px;
}
.p-post__img-2 img {
  width: 100%;
}

.p-post__list {
  width: 100%;
  margin-bottom: 60px;
}

.p-post__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.p-post__item :last-child {
  margin-bottom: 0;
}
.p-post__item img {
  width: 38%;
  height: 100px;
}
@media (min-width: 600px) {
  .p-post__item img {
    height: 200px;
  }
}
.p-post__item .c-text__articles {
  width: 60%;
}

.p-gallery__inner {
  width: 100%;
}

.p-gallery__list {
  width: 100%;
}
.p-gallery__list :last-child {
  margin-bottom: 0;
}

.p-gallery__img {
  margin-bottom: 20px;
  width: 100%;
}
.p-gallery__img img {
  width: 100%;
}
@media (min-width: 600px) {
  .p-gallery__img {
    margin-bottom: 0;
  }
}

.p-parts__wrapper {
  width: 100%;
}

.p-parts__inner {
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 600px) {
  .p-parts__inner {
    margin-bottom: 60px;
  }
}

.p-parts__list {
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .p-parts__list {
    margin-left: 50px;
  }
}

.p-parts__codeblock {
  width: 100%;
  background: #F5F5F5;
  color: #3C2A10;
  padding: 50px;
  font-size: 16px;
  line-height: 2;
}

.p-parts__table {
  width: 100%;
}
.p-parts__table tr {
  height: 77px;
  border-collapse: collapse;
}
.p-parts__table td {
  padding-left: 28px;
}

.p-parts__cell-left {
  width: 40%;
}

.p-parts__cell-right {
  width: 60%;
}

.p-parts__button {
  width: 100%;
  height: 81px;
  background: linear-gradient(#F2EDE9, #DED8D3);
  border: 1px solid #707070;
  border-radius: 20px;
}
@media (min-width: 600px) {
  .p-parts__button {
    width: 429px;
    height: 104px;
  }
}
.p-parts__button span {
  font-size: 16px;
  font-weight: bold;
  color: #3C2A10;
}

.p-parts__font {
  font-weight: bold;
}

.u-margin__bottom1 {
  margin-bottom: 24px;
}

.u-margin__bottom60 {
  margin-bottom: 60px;
}

.u-margin__text {
  margin-top: 10px;
  margin-right: 53px;
}

.u-margin__top2 {
  margin-top: 24px;
}

.u-margin__archive-tittle {
  margin-bottom: 30px;
}
@media (min-width: 600px) {
  .u-margin__archive-tittle {
    margin-bottom: 25px;
  }
}

.u-margin__ul {
  margin-left: 20px;
  margin-top: 20px;
}

.u-margin__ol {
  margin-top: 20px;
}

.u-breakpoint__sm {
  display: none;
}
@media (min-width: 600px) {
  .u-breakpoint__sm {
    display: block;
  }
}

@media (min-width: 600px) {
  .u-breakpoint__tab {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */