@use "../../Foundation/variable" as *;

.c-button__menu{
    width: 51px;
    font-size: 20px;
    font-weight: bold;
    color: $gray;
    transition: all 0.2s;


    @include breakpoint(tablet){
        width: 10%;
        font-size: 34px;
        transition: all 0.2s;

    }
    @include breakpoint(pc){
        display: none;
    }
}
.c-button__header{
    position: absolute;
    right: 20px;
    top: 20px;
}
.c-button__close{
    height: 32px;
    width: 32px;
    position: relative;
    display: block;

    &::before ,&::after{
        content: "";
        position: absolute;
        background: $gray;
        width: 42px;
        height: 6px;
        right:17px;
        top: 30px;

        @include breakpoint(pc){
            display: none;
        }
        
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after{
        transform: rotate(-45deg);

    }
}
