@use "../../Foundation/variable" as *;

.c-text__contents{
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.c-text__articles{
    color: $brown;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.c-text__item{
    color: $white;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}
.c-text__pager{
    font-size: 16px;
    font-weight: 200;
    color: $gray;
}
