@use "../../Foundation/variable" as *;

.u-breakpoint__sm{
    display: none;

    @include breakpoint(tablet){

        display: block;
    }
}
.u-breakpoint__tab{
    
    
    @include breakpoint(tablet){
        display: none;
    }
}
.u-breakpoint__pc{}