@use "../../Foundation/variable" as *;

.p-menu{
    margin-top: 212px;
    margin-left: 46px;
    padding-bottom: 200px;
    color: $gray;
    
}
.p-menu__list{
    font-size: 24px;
    margin-bottom: 40px;

}

.p-menu__tittle{
    margin-bottom: 40px;
}


.p-menu__item{
    font-size: 20px;
    margin-bottom: 22px;
    margin-left: 20px;
}