@use "../../Foundation/variable" as *;

.p-parts__wrapper{
    width: 100%;
}
.p-parts__inner{
    width: 100%;
    margin-bottom: 30px;
    
    @include breakpoint(tablet){
        margin-bottom: 60px;
    }
  
}
.p-parts__list{
    margin-bottom: 20px;
    
    @include breakpoint(tablet){
        margin-left: 50px;    
    }

}
.p-parts__codeblock{
    width: 100%;
    background: $gray-souse;
    color: $brown;
    padding: 50px;
    font-size: 16px;
    line-height: 2;
}
.p-parts__table{
    width: 100%;
    
    tr{
        height: 77px;
        border-collapse: collapse;

    }
    td{
        padding-left: 28px;
    }

}
.p-parts__cell-left{
    width: 40%;
}
.p-parts__cell-right{
    width: 60%;
}
.p-parts__button{
    width: 100%;
    height: 81px;
    background: linear-gradient($background-lightgray,$background-gradientgray);
    border: 1px solid $gray;
    border-radius: 20px;

    @include breakpoint(tablet){
        width: 429px;
        height: 104px;
    }
    span{
        font-size: 16px;
        font-weight: bold;
        color: $brown;
    }
}
.p-parts__font{
    font-weight: bold;
}