@use "../Foundation/variable" as *;

.l-sidebar{
    height: 100%;
    width: 80%;
    top: 0;
    left: 100%;
    z-index: 10;

    &.is-open{
        left: 20%;
        transition:  0.5s;

        @include breakpoint(tablet){
            left: 55%;
            width: 45%;
            transition: all 0.5s;
        }
    
    }

    @include breakpoint(pc){
      width: 100%;
      left: auto;
      top: auto;
      overflow: hidden;
    }

} 
.p-sidebar{
    background: $background-sidebar;
    position: absolute;
    transition: all 0.3s;
    overflow: scroll;
}
.p-sidebar__inner{
    height: 100%;
    position: relative;
    
}